* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.box {
    display: inline-block;
    width: 100%;
    margin: 20px auto;
    border: 2px solid black;
    box-shadow: 5px 5px 5px #ccc;
    padding: 0;
    background-color: #eee;
}

@media screen and (min-width: 400px) {
    .box {
        width: 80%;
    }
}

@media screen and (min-width: 800px) {
    .box {
        font-size: 1.2rem;
        max-width: 600px;
        padding: 10px;

        input, button {
            font-size: 1.2rem;
        }
    }
}
